 @import "tailwindcss";

.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.none{
  display: none;
}